@page
@model RazorTest.Pages.pgemstone.IndexModel
@{
}

@{
    var typeOptions = new List<string> { "All", "Ruby", "Sapphire", "Emerald", "Cabochon", "Diamond" };
}

<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">

                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            
                            <form method="get">
                                <div style="text-align: center; margin-bottom: 20px;">
                                    <input type="text" name="searchTerm" placeholder="Search" value="@Model.SearchTerm" style="padding: 5px; width: 200px;" />
                                    <label>Type</label>
                                    <select name="filterType">
                                        @foreach (var option in typeOptions)
                                        {
                                            if (option.Equals(Model.FilterType))
                                            {
                                                <option value="@option" selected>@option</option>
                                            }
                                            else
                                            {
                                                <option value="@option">@option</option>
                                            }
                                        }
                                    </select>
                                    
                                    <button type="submit">Search</button>
                                </div>
                            </form>

                            <!-- EDIT HERE ONLY -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Code</th>
                                            <th>Weight</th>
                                            <th>Unit</th>
                                            <th>Buy Price</th>
                                            <th>Sell Price</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var gem in Model.GemsP)
                                        {
                                            <tr>
                                                <td><strong>@gem.GemName</strong></td>
                                                <td>@gem.GemCode</td>
                                                <td>@gem.GemWeight</td>
                                                <td>@gem.Unit</td>
                                                <td>@String.Format("{0:N0} VND", gem.BuyPrice)</td>
                                                <td>@String.Format("{0:N0} VND", gem.GemPrice)</td>
                                                <td>
                                                    <a asp-page="./Edit" asp-route-id="@gem.GemId" class="btn btn-outline-warning btn-fw">Edit</a>
                                                    <a asp-page="./Delete" asp-route-id="@gem.GemId" class="btn btn-outline-danger btn-fw">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- EDIT HERE END -->

                            <div class="card-body text-center">
                                @if (Model.GemsP.HasPreviousPage)
                                {
                                    <a class="btn btn-primary btn-fw" asp-page="./Index" asp-route-currentPage="@(Model.GemsP.PageIndex - 1)">&laquo; Previous</a>
                                }
                                @for (int i = 1; i <= Model.GemsP.TotalPages; i++)
                                {
                                    <a class="btn btn-primary" asp-page="./Index" asp-route-currentPage="@i" class="@(i == Model.GemsP.PageIndex ? "active" : "")">@i</a>
                                }
                                @if (Model.GemsP.HasNextPage)
                                {
                                    <a class="btn btn-primary btn-fw" asp-page="./Index" asp-route-currentPage="@(Model.GemsP.PageIndex + 1)">Next &raquo;</a>
                                }
                            </div>


                            <div class="card-body text-center">
                                <a href="javascript:history.back()" class="btn btn-light btn-fw">Back</a>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>




