@page
@model RazorTest.Pages.pinvoiceitem.IndexModel
@{
}

<h2>Invoice Item</h2>

<style>
    /* Table styles */
    table {
        width: 100%;
        border-collapse: collapse; /* Ensures borders between cells are merged */
        margin-top: 20px; /* Adds spacing above the table */
    }

    th, td {
        border: 1px solid black; /* Adds border to cells and header cells */
        padding: 8px; /* Adds space inside cells */
        text-align: left; /* Aligns text to the left inside cells */
    }

    th {
        background-color: #f9f9f9; /* Light grey background for header cells */
    }
</style>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Invoice Item Id</th>
            <th>Invoice Id</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Discount Id</th>
            <th>Discount Rate</th>
            <th>Total Price</th>
            <th>End Total Price</th>
            <th>Warranty Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody border="1">
        @foreach (var invoiceitem in Model.Invoiceitems)
        {
            <tr>
                <td><strong>@invoiceitem.InvoiceItemId</strong></td>
                <td>@invoiceitem.InvoiceId</td>
                <td>@invoiceitem.ProductName</td>
                <td>@invoiceitem.Quantity</td>
                <td>@invoiceitem.UnitPrice</td>
                <td>@invoiceitem.DiscountId</td>
                <td>@invoiceitem.DiscountRate</td>
                <td>@invoiceitem.TotalPrice</td>
                <td>@invoiceitem.EndTotalPrice</td>
                <td>@invoiceitem.WarrantyId</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@invoiceitem.InvoiceItemId">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@invoiceitem.InvoiceItemId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="./Create">Create New Invoice Item</a>