@page
@model RazorTest.Pages.Buy.BuyBackModel
@{
}

<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->
                            <div class="table-responsive">
                                <div class="text-center">
                                    <h2>Details</h2>
                                </div>
                                @if (Model.BuyInvoiceObject != null)
                                {
                                    <table class="table table-hover text-center">
                                        <tr>
                                            <th>Invoice Id:</th>
                                            <td>@Model.BuyInvoiceObject.InvoiceId</td>
                                        </tr>
                                        <tr>
                                            <th>Customer:</th>
                                            <td>@Model.BuyInvoiceObject.CustomerName</td>
                                        </tr>
                                        <tr>
                                            <th>Sale Staff:</th>
                                            <td>@Model.BuyInvoiceObject.UserFullname</td>
                                        </tr>
                                        <tr>
                                            <th>Total Price:</th>
                                            <td>@String.Format("{0:N0} VND", Model.BuyInvoiceObject.EndTotalPrice)</td>
                                        </tr>
                                        <tr>
                                            <th>Date</th>
                                            <td>@Model.BuyInvoiceObject.InvoiceDate</td>
                                        </tr>
                                    </table>

                                    <div class="text-center">
                                        <h2>Items</h2>
                                    </div>

                                    <table class="table table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Original Unit Price</th>
                                                <th>Sell Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.BuyInvoiceItemList)
                                            {
                                                <tr>
                                                    <td>@item.ProductName</td>
                                                    <td>@item.Quantity</td>
                                                    <td>@String.Format("{0:N0} VND", item.UnitPrice)</td>
                                                    <td>@String.Format("{0:N0} VND", item.EndTotalPrice / item.Quantity)</td>
                                                    <td>
                                                        <form method="post" asp-page-handler="BuyItem">
                                                            <input type="hidden" id="invoiceItemId" name="invoiceItemId" value="@item.InvoiceItemId" />
                                                            <button type="submit" class="btn btn-outline-warning btn-fw">Request Buy Order</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p class="text-center text-danger">Invoice not found.</p>
                                }
                            </div>

                            <div class="text-center">
                                <a asp-page="./Processing" class="btn btn-outline-secondary btn-fw">Back</a>
                            </div>
                            <!-- EDIT HERE END -->
                        </div>

                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>