@page
@model RazorTest.Pages.Buy.ConfirmModel
@{
}
<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->
                            <div class="table-responsive">
                                <div class="text-center">
                                    <h2>Item Buy-Back</h2>
                                </div>
                                @if (Model.BuyConfirmInvoiceItemObject != null)
                                {
                                    <table class="table table-hover text-center">
                                        <tr>
                                            <th>ID</th>
                                            <td>@Model.BuyConfirmInvoiceItemObject.InvoiceItemId</td>
                                        </tr>
                                        <tr>
                                            <th>Product Name</th>
                                            <td>@Model.BuyConfirmInvoiceItemObject.ProductName</td>
                                        </tr>
                                        <tr>
                                            <th>Quantity</th>
                                            <td>@Model.BuyConfirmInvoiceItemObject.Quantity</td>
                                        </tr>
                                        <tr>
                                            <th>Price</th>
                                            <td>@Model.BuyConfirmInvoiceItemObject.UnitPrice</td>
                                        </tr>
                                    </table>
                                }


                                <div class="text-center">
                                    <h2>Buying State</h2>
                                </div>

                                @if (Model.BuyConfirmInvoiceObject != null)
                                {
                                    <table class="table table-hover text-center">
                                        <tr>
                                            <th>Invoice ID</th>
                                            <td>@Model.BuyConfirmInvoiceObject.InvoiceId</td>
                                        </tr>
                                        <tr>
                                            <th>Employee</th>
                                            <td>@Model.BuyConfirmInvoiceObject.UserFullname</td>
                                        </tr>
                                        <tr>
                                            <th>Customer</th>
                                            <td>@Model.BuyConfirmInvoiceObject.CustomerName</td>
                                        </tr>
                                        <tr>
                                            <th>Price</th>
                                            <td>@Model.BuyConfirmInvoiceObject.EndTotalPrice</td>
                                        </tr>
                                    </table>
                                }
                                <form method="post" asp-page-handler="ConfirmBuying" class="text-center">
                                    <button type="submit" class="btn btn-outline-warning btn-fw">Create Buying Order</button>
                                </form>
                            </div>

                            <div class="card-body text-center">
                                <a asp-page="./BuyBack" class="btn btn-outline-secondary btn-fw">Back</a>
                            </div> 
                            <!-- EDIT HERE END -->
                        </div>

                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>

