@page
@model RazorTest.Pages.Buy.ConfirmModel
@{
}
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>

<div class="container">
    <h2>ITEM</h2>
</div>

@if (Model.BuyConfirmInvoiceItemObject != null)
{
    <table class="luxury-table">
        <tr>
            <th>ID</th>
            <td>@Model.BuyConfirmInvoiceItemObject.InvoiceItemId</td>
        </tr>
        <tr>
            <th>Product Name</th>
            <td>@Model.BuyConfirmInvoiceItemObject.ProductName</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>@Model.BuyConfirmInvoiceItemObject.Quantity</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>@Model.BuyConfirmInvoiceItemObject.UnitPrice</td>
        </tr>
    </table>
}


<div class="container">
    <h2>Buying State</h2>
</div>

@if (Model.BuyConfirmInvoiceObject != null)
{
    <table class="luxury-table">
        <tr>
            <th>Invoice ID</th>
            <td>@Model.BuyConfirmInvoiceObject.InvoiceId</td>
        </tr>
        <tr>
            <th>Employee</th>
            <td>@Model.BuyConfirmInvoiceObject.UserFullname</td>
        </tr>
        <tr>
            <th>Customer</th>
            <td>@Model.BuyConfirmInvoiceObject.CustomerName</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>@Model.BuyConfirmInvoiceObject.EndTotalPrice</td>
        </tr>
    </table>
}


<form method="post" asp-page-handler="ConfirmBuying">
    <button type="submit" style="background-color: #b8860b; border-color: #b8860b; display: block; width: 100px; text-align: center; margin: 10px auto;">Create Buying Order</button>
</form>

<form method="get" action="/Buy/BuyBack" style="text-align: center;">
    <input type="hidden" name="Back" value="/Buy/BuyBack" />
    <button type="submit" class="btn-pink" style="background-color: #b8860b; border-color: #b8860b; display: block; width: 100px; text-align: center; margin: 10px auto;">Back</button>
</form>