@page
@model RazorTest.Pages.Buy.ConfirmModel
@{
}
<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <!-- EDIT HERE ONLY -->
                                    <div>
                                        <div class="text-center">
                                            <h2 style="margin-bottom:50px;">Checkout</h2>
                                        </div>
                                        @if (Model.BuyConfirmInvoiceItemObject != null)
                                        {
                                            <div class="forms-sample">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Product Name</label>
                                                    <div class="col-sm-9">
                                                        <input style="width:100%;" type="text" class="form-control" value="@Model.BuyConfirmInvoiceItemObject.ProductName" readonly>
                                                    </div>

                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Quantity</label>
                                                    <div class="col-sm-9">
                                                        <input style="width:100%;" type="text" class="form-control" value="@Model.BuyConfirmInvoiceItemObject.Quantity" readonly>
                                                    </div>

                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Price</label>
                                                    <div class="col-sm-9">
                                                        <input style="width:100%;" type="text" class="form-control" value="@(Model.BuyConfirmInvoiceItemObject.UnitPrice.ToString("#,##0")) VND" readonly>
                                                    </div>

                                                </div>

                                            </div>


                                        }
                                        @if (Model.BuyConfirmInvoiceObject != null)
                                        {
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Order Request By</label>
                                                <div class="col-sm-9">
                                                    <input style="width:100%;" type="text" class="form-control" value="@Model.BuyConfirmInvoiceObject.UserFullname" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Customer</label>
                                                <div class="col-sm-9">
                                                    <input style="width:100%;" type="text" class="form-control" value="@Model.BuyConfirmInvoiceObject.CustomerName" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Total</label>
                                                <div class="col-sm-9">
                                                    <input style="width:100%;" type="text" class="form-control" value="@(Model.BuyConfirmInvoiceObject.EndTotalPrice.ToString("#,##0")) VND" readonly>
                                                </div>
                                            </div>
                                        }


                                        <form method="post" asp-page-handler="ConfirmBuying" class="text-center">
                                            <button style="margin:10px;" type="submit" class="btn btn-outline-warning btn-fw">Request Order</button>
                                        </form>
                                    </div>

                                    <div class=" text-center">
                                        <a  style="margin:10px;" asp-page="./BuyBack" class="btn btn-outline-secondary btn-fw">Back</a>
                                    </div>
                                    <!-- EDIT HERE END -->
                                </div>

                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>

