@page
@model RazorTest.Pages.Buy.ProcessingModel
@{
}
<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->
                            <div class="table-responsive">
                                <div class="card-header text-center">
                                    <h2 class="mb-0">Buy Back</h2>
                                </div>
                                <div class="card-body">
                                    <form id="search-form" method="post" asp-page-handler="Search">
                                        <div class="text-center">
                                            <label for="invoiceId">Invoice ID:</label>
                                            <input class="form-control" type="text" id="buyInvoiceSearch" placeholder="Enter Invoice ID" name="buyInvoiceSearch" value="@Model.BuyInvoiceSearch" />
@*                                             <label for="customerId">Customer Phone:</label>
                                            <input type="text" id="buyCustomerSearch" name="buyCustomerSearch" value="@Model.BuyCustomerSearch" /> *@
                                            <button type="submit" form="search-form" class="btn btn-outline-primary">Search</button>
                                        </div>
                                    </form>
                                </div>
                                <div>
                                    @if (Model.PaginatedBuyInvoiceList != null && Model.PaginatedBuyInvoiceList.Any())
                                    {
                                        <div class="text-center">
                                            <h3>Search Results</h3>
                                        </div>

                                        <table class="table table-hover text-center">
                                            <thead>
                                                <tr>
                                                    <th>Invoice Id</th>
                                                    <th>Customer Name</th>
                                                    <th>Total Price (VND)</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var invoice in Model.PaginatedBuyInvoiceList)
                                                {
                                                    <tr>
                                                        <td>@invoice.InvoiceId</td>
                                                        <td>@invoice.CustomerName</td>
                                                        <td>@String.Format("{0:N0}", invoice.TotalPrice)</td>
                                                        <td>@invoice.InvoiceDate</td>
                                                        <td>@invoice.InvoiceStatus</td>
                                                        <td>
                                                            <form method="post" asp-page-handler="SelectInvoice">
                                                                <input type="hidden" id="buyInvoiceId" name="buyInvoiceId" value="@invoice.InvoiceId" />
                                                                <button type="submit" class="btn btn-outline-warning btn-fw">Select</button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                        <div class="card-body text-center">
                                            @if (Model.PaginatedBuyInvoiceList.HasPreviousPage)
                                            {
                                                <a class="btn btn-primary btn-fw" asp-page="./Processing" asp-route-pageIndex="@(Model.PaginatedBuyInvoiceList.PageIndex - 1)" class="w3-button">&laquo; Previous</a>
                                            }
                                            @for (int i = 1; i <= Model.PaginatedBuyInvoiceList.TotalPages; i++)
                                            {
                                                <a class="btn btn-primary" asp-page="./Processing" asp-route-pageIndex="@i" class="w3-button @(i == Model.PaginatedBuyInvoiceList.PageIndex ? "w3-grey" : "")">@i</a>
                                            }
                                            @if (Model.PaginatedBuyInvoiceList.HasNextPage)
                                            {
                                                <a class="btn btn-primary btn-fw" asp-page="./Processing" asp-route-pageIndex="@(Model.PaginatedBuyInvoiceList.PageIndex + 1)" class="w3-button">Next &raquo;</a>
                                            }
                                        </div>
                                    }
                                    else if (Model.BuyInvoiceList != null)
                                    {
                                        <div class="card-body text-center">
                                            <p class="search-message">No invoices found.</p>
                                        </div>
                                    }
                                </div>

                            </div>
                            <!-- EDIT HERE END -->

                            <div class="card-body text-center">
                                <a asp-page="/Index" class="btn btn-outline-secondary btn-fw">Back</a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>
