@page
@model CustomerListModel
@{
}

<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">

                            <!-- SEARCH AND FILTER FORM -->
                            <form method="get">
                                <div style="text-align: center; margin-bottom: 20px;">
                                    <input type="text" name="searchTerm" placeholder="Search" value="@Model.SearchTerm" style="padding: 5px; width: 200px;" />
                                    <label>Customer Rank</label>
                                    <select name="filterRank">
                                        <option value="All" selected>All</option>
                                        <option value="Bronze">Bronze</option>
                                        <option value="Silver">Silver</option>
                                        <option value="Gold">Gold</option>
                                        <option value="Platinum">Platinum</option>
                                    </select>
                                    <button type="submit">Search</button>
                                </div>
                            </form>
                            <!-- SEARCH AND FILTER FORM END -->
                            <!-- EDIT HERE ONLY -->
                            <div class="table-responsive">
                                <table class="table table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th>Customer Id</th>
                                            <th>Customer Name</th>
                                            <th>Customer Rank</th>
                                            <th>Customer Points</th>
                                            <th>Attend Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var customer in Model.Customers)
                                        {
                                            <tr>
                                                <td>@customer.CustomerId</td>
                                                <td><strong>@customer.CustomerName</strong></td>
                                                <td>@customer.CustomerRank</td>
                                                <td>@customer.CustomerPoint</td>
                                                <td>@customer.AttendDate.ToShortDateString()</td>
                                                <td>
                                                    <a asp-page="Edit" asp-route-id="@customer.CustomerId" class="btn btn-warning btn-fw">Edit</a>
                                                    <a asp-page="Delete" asp-route-id="@customer.CustomerId" class="btn btn-danger btn-fw">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                            <!-- EDIT HERE END -->

                            <div class="card-body text-center">
                                @if (Model.Customers.HasPreviousPage)
                                {
                                    <a class="btn btn-primary btn-fw" asp-page="./Index" asp-route-currentPage="@(Model.Customers.PageIndex - 1)">&laquo; Previous</a>
                                }
                                @for (int i = 1; i <= Model.Customers.TotalPages; i++)
                                {
                                    <a class="btn btn-primary" asp-page="./Index" asp-route-currentPage="@i" class="@(i == Model.Customers.PageIndex ? "active" : "")">@i</a>
                                }
                                @if (Model.Customers.HasNextPage)
                                {
                                    <a class="btn btn-primary btn-fw" asp-page="./Index" asp-route-currentPage="@(Model.Customers.PageIndex + 1)">Next &raquo;</a>
                                }
                            </div>

                            <div class="card-body text-center">
                                <a class="btn btn-light btn-fw" asp-page="./Create">Create New Customer</a>
                                <a class="btn btn-secondary btn-fw" asp-page="/Index">Back</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>