@page
@model RazorTest.Pages.Sale.CheckOutPageModel
@{
}

<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-xl-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        @if (Model.InvoiceItems != null)
                                            {
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Product Name</th>
                                                            <th>Unit Price</th>
                                                            <th>Quantity</th>
                                                            <th>Discount</th>
                                                            <th>Discount Total</th>
                                                            <th>Subtotal</th>
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.InvoiceItems)
                                                        {
                                                            <tr>
                                                                <td>@item.ProductName</td>
                                                                <td>@String.Format("{0:N0} VND", item.UnitPrice)</td>
                                                                <td>@item.Quantity</td>
                                                                <td>@(item.DiscountRate * 100)%</td>

                                                                <td>@String.Format("{0:N0}", (item.EndTotalPrice - item.TotalPrice))</td>
                                                                <td>@String.Format("{0:N0}", item.TotalPrice)</td>
                                                                <td>@String.Format("{0:N0}", item.EndTotalPrice)</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                        

                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body text-center">
                                    @if (Model.Invoice != null)
                                    {
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <th>Department:</th>
                                                    <td>@Model.Invoice.StallName</td>
                                                </tr>
                                                <tr>
                                                    <th>Invoice Type:</th>
                                                    <td>@Model.Invoice.InvoiceType</td>
                                                </tr>
                                                <tr>
                                                    <th>Customer:</th>
                                                    <td>@Model.Customer.CustomerName</td>
                                                </tr>
                                                <tr>
                                                    <th>Staff:</th>
                                                    <td>@Model.User.Fullname</td>
                                                </tr>
                                                <tr>
                                                    <th>Customer Voucher:</th>
                                                    <td>@Model.Invoice.CustomerVoucher</td>
                                                </tr>
                                                <tr>
                                                    <th>Discount:</th>
                                                    <td>@String.Format("{0:N0} VND", (Model.Invoice.EndTotalPrice - Model.Invoice.TotalPrice))</td>
                                                </tr>
                                                <tr>
                                                    <th>Subtotal:</th>
                                                    <td>@String.Format("{0:N0} VND", Model.Invoice.TotalPrice)</td>
                                                </tr>

                                                <tr>
                                                    <th>Total:</th>
                                                    <td>@String.Format("{0:N0} VND", Model.Invoice.EndTotalPrice)</td>
                                                </tr>
                                                <tr>
                                                    <th>Order Status:</th>
                                                    <td>@Model.Invoice.InvoiceStatus</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <form method="get" action="/Sale/ViewCart" style="text-align: left;">
                                <input type="hidden" name="Back" value="/Sale/ViewCart" />
                                <button type="submit" class="btn btn-secondary btn-fw">Back</button>
                            </form>
                        </div>
                        <div class="col-xl-6">
                            <form method="post" asp-page-handler="Confirm" style="text-align: right;">
                                <button type="submit" class="btn btn-warning btn-fw">
                                    <span>
                                        Confirm
                                    </span>
                                    <span class="menu-icon">
                                        <i class="mdi mdi-check-all"></i>
                                    </span>
                                </button>
                            </form>
                        </div>

                    </div>
                    <div>
                        <div>
                            <!-- EDIT HERE ONLY -->
                            <div>
                                

                                
                            </div>
                            <!-- EDIT HERE END -->
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>


