@page
@model RazorTest.Pages.Sale.SelectDiscountPageModel
@{
}

<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->
                            <div class="table-responsive">
                                <table class="table table-hover text-center">
                                    <div class="card-header ">
                                        <h3 class="text-center">Available Discounts</h3>
                                        @if (Model.SelectedDiscount != null)
                                        {
                                            <h4 class="card-body text-center">
                                                <div>@Model.SelectedDiscount.DiscountName - @(Model.SelectedDiscount.DiscountRate * 100)%</div>
                                            </h4>
                                        }
                                    </div>
                                    <thead>

                                        <tr>
                                            <th>Discount Name</th>
                                            <th>Discount Rate</th>
                                            <th>Reduction</th>
                                            <th>Available Date</th>
                                            <th>Expired Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var discount in Model.Discounts)
                                        {
                                            @if (discount.DiscountRate > 0)
                                            {
                                                <tr>
                                                    <td>@discount.DiscountName</td>
                                                    <td>@(discount.DiscountRate * 100)%</td>
                                                    <td>@((discount.DiscountRate * Model.SelectedProduct.UnitPrice * -1).ToString("#,##0")) </td>
                                                    <td>@discount.PublicDate.ToString("d/M/yyyy")</td>
                                                    <td>@discount.ExpireDate.ToString("d/M/yyyy")</td>
                                                    <td>
                                                        <form method="post" asp-page-handler="SelectDiscount">
                                                            <input type="hidden" name="discountId" value="@discount.DiscountId" />
                                                            <button type="submit" class="btn btn-success btn-fw">Select</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-body text-center">
                                <a asp-page="./ViewCart" class="btn btn-secondary btn-fw">Back</a>
                            </div>
                            <!-- EDIT HERE END -->
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>