@page "{currentPage:int?}"
@using RazorTest.Models
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model RazorTest.Pages.Sale.CartModel
@{
}

<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->
                            <div class="row">
                                <div class="col-xl-9">
                                    <!-- Cart Info -->
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            
                                            <tbody>
                                                @foreach (var product in Model.Cart)
                                                {
                                                    <tr>
                                                        <td><img src="/ProductImages/@product.ProductImages" /></td>
                                                        <td><strong>@(product.ProductName.Length > 8 ? product.ProductName.Substring(0, 8) : product.ProductName)</strong></td>

                                                        <td>
                                                            <form method="post" asp-page-handler="EditProduct">
                                                                <input type="hidden" name="productId" value="@product.ProductId" />
                                                                <input type="number" name="quantity" value="@product.ProductQuantity" style="width:50px;"/>
                                                            </form>
                                                        </td>
                                                        <td>
                                                            <table >
                                                                <tr>
                                                                    <td>@product.UnitPrice.ToString("#,##0") đ</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>@product.UnitPrice.ToString("#,##0") đ</td>
                                                                </tr>
                                                            </table>
                                                        </td>

                                                        

                                                        @if (Model.GetDiscountRateInCart(product.ProductId) > 0)
                                                        {
                                                            <td>
                                                                <form method="post" asp-page-handler="SelectDiscount">
                                                                    <input type="hidden" name="productId" value="@product.ProductId" />
                                                                    <button type="submit" class="btn btn-dark btn-icon-text">
                                                                        <i class="mdi mdi-sale"></i>
                                                                        <span>@(Model.GetDiscountRateInCart(product.ProductId) * 100 * -1)%</span>
                                                                    </button>
                                                                </form>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <form method="post" asp-page-handler="SelectDiscount">
                                                                    <input type="hidden" name="productId" value="@product.ProductId" />
                                                                    <button type="submit" class="btn btn-dark btn-icon-text">
                                                                        <i class="mdi mdi-sale"></i>
                                                                        <span>@(Model.GetDiscountRateInCart(product.ProductId) * 100 * -1)%</span>
                                                                    </button>
                                                                </form>
                                                            </td>
                                                        }

                                                        @if (Model.GetDiscountRateInCart(product.ProductId) > 0)
                                                        {
                                                            <td>@((Model.GetDiscountRateInCart(product.ProductId) * product.UnitPrice * -1).ToString("#,##0")) đ</td>
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }

                                                        <td>@product.TotalPrice.ToString("#,##0") đ</td>
                                                        @if (Model.GetDiscountRateInCart(product.ProductId) > 0)
                                                        {
                                                            <td>@((Model.GetDiscountRateInCart(product.ProductId) * product.UnitPrice * product.ProductQuantity * -1).ToString("#,##0")) đ</td>
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }
                                                        <td>
                                                            @((product.TotalPrice * (1 - Model.GetDiscountRateInCart(product.ProductId))).ToString("#,##0")) đ
                                                        </td>
                                                        <td>
                                                            <form method="post" asp-page-handler="Delete" onsubmit="return confirm('Are you sure you want to remove this product?');">
                                                                <input type="hidden" name="productId" value="@product.ProductId" />
                                                                <button type="submit" class="btn btn-outline-danger btn-fw">Remove</button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>@Model.SaleInvoiceObject.TotalPrice.ToString("#,##0") đ</td>
                                                    <td>@((Model.SaleInvoiceObject.EndTotalPrice - Model.SaleInvoiceObject.TotalPrice).ToString("#,##0")) đ</td>
                                                    <td>@Model.SaleInvoiceObject.EndTotalPrice.ToString("#,##0") đ</td>
                                                    <td></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- Cart Info Ends -->
                                </div>
                                <div class="col-xl-3">
                                    <!-- Customer Info -->
                                    <div class="table-responsive">
                                        <div class="card-header text-center">
                                            <h2 class="mb-0">Customer</h2>
                                            <form method="post" asp-page-handler="AddCustomer">
                                                <input type="hidden" name="customerId" />
                                                <div class="title">Search Phone Contact</div>
                                                <div class="input-group">
                                                    <input type="text" placeholder="Search" name="searchCustomer" value=@Accessor.HttpContext.Session.GetString("_SearchCustomer") />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-sm btn-outline-primary" type="submit">Search</button>
                                                    </div>
                                                </div>
                                                <br />

                                            </form>
                                        </div>
                                        <table class="table table-hover text-center">
                                            @if (Model.Customer != null && !Model.Customer.CustomerName.Equals("Not Identified"))
                                            {
                                                <div class="table-responsive">
                                                    <table class="table table-hover text-center">
                                                        <tr>
                                                            <th>Name</th>
                                                            <td>@Model.Customer.CustomerName</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Attend Date</th>
                                                            <td>@Model.Customer.AttendDate</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Rank</th>
                                                            <td>@Model.Customer.CustomerRank</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Points</th>
                                                            <td>@Model.Customer.CustomerPoint</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            }
                                        </table>
                                        <form method="get" action="/Sale/CreateCustomer" class="text-center">
                                            <input type="hidden" name="Create" value="/Sale/CreateCustomer" />
                                            <button type="submit" class="btn btn-warning btn-fw">Add New Customer</button>
                                        </form>
                                    </div>
                                    <!-- Customer Info Ends -->
                                </div>
                            </div>
                            
                            
                            <!-- Actions -->
                            <div class="card-body text-center">
                                <form method="post" asp-page-handler="Checkout">
                                    <button type="submit" class="btn btn-behance btn-fw">Checkout</button>
                                </form><br />
                                <a asp-page="./SaleHomePage" class="btn btn-secondary btn-fw">Back</a>
                            </div>
                            <!-- Actions End -->
                            <!-- EDIT HERE END -->
                        </div>

                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>

