@page
@model RazorTest.Pages.GoldPriceListModel
@{
    ViewData["Title"] = "Gold Price List";
}

<h2>Gold Price</h2>

<style>
 
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px; /* Adds spacing above the table */
    }

    th, td {
        border: 1px solid black; /* Adds border to cells and header cells */
        padding: 8px; /* Adds space inside cells */
        text-align: left; /* Aligns text to the left inside cells */
    }

    th {
        background-color: #f9f9f9; /* Light grey background for header cells */
    }
</style>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Key</th>
            <th>Sell</th>
            <th>Buy</th>
            <th>Date Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var goldPrice in Model.GoldPrices)
        {
            <tr>
                <td>@goldPrice.Name</td>
                <td>@goldPrice.Key</td>
                <td>@goldPrice.Sell</td>
                <td>@goldPrice.Buy</td>
                <td>@goldPrice.DateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
            </tr>
        }
    </tbody>
</table>