@page
@model RazorTest.Pages.pwarranty.WarrantyListModel


<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->
                            <div class="table-responsive">
                                <table class="table table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th>Warranty Id</th>
                                            <th>Product Id</th>
                                            <th>Product Name</th>
                                            <th>Start Date</th>
                                            <th>Expire Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var warranty in Model.Warranties)
                                        {
                                            <tr>
                                                <td>@warranty.WarrantyId</td>
                                                <td><strong>@warranty.ProductId</strong></td>
                                                <td>@warranty.ProductName</td>
                                                <td>@warranty.StartDate.ToShortDateString()</td>
                                                <td>@warranty.ExpireDate.ToShortDateString()</td>
                                                <td class="action-buttons">
                                                    <a asp-page="./Edit" asp-route-id="@warranty.WarrantyId" class="btn btn-warning btn-fw">Edit</a>
                                                    <a asp-page="./Delete" asp-route-id="@warranty.WarrantyId" class="btn btn-danger btn-fw">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <!-- EDIT HERE END -->
                            @* <div class="card-body text-center">
                                @if (Model.Invoices.HasPreviousPage)
                                {
                                    <a class="btn btn-primary btn-fw" asp-page="./InvoiceDetail" asp-route-currentPage="@(Model.Invoices.PageIndex - 1)">&laquo; Previous</a>
                                }
                                @for (int i = 1; i <= Model.Invoices.TotalPages; i++)
                                {
                                    <a class="btn btn-primary" asp-page="./InvoiceDetail" asp-route-currentPage="@i" class="@(i == Model.Invoices.PageIndex ? "active" : "")">@i</a>
                                }
                                @if (Model.Invoices.HasNextPage)
                                {
                                    <a class="btn btn-primary btn-fw" asp-page="./InvoiceDetail" asp-route-currentPage="@(Model.Invoices.PageIndex + 1)">Next &raquo;</a>
                                }
                            </div> *@

                            <div class="card-body text-center">
                                <a class="btn btn-secondary btn-fw" asp-page="/Index">Back</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>