@page
@model RazorTest.Pages.GoldModel
@{
    ViewData["Title"] = "Gold List";
}

<nav class="sidebar">
    @if (Model.VerifyAuth("Manager"))
    {
        <a asp-page="/pproduct/ProductDetail">Manage Products</a>
        <a asp-page="/pinvoice/InvoiceDetail">Order History</a>
        <a asp-page="/pgemstone/Detail">Manage Gems</a>
        <a asp-page="/puser/UserDetail">Manage Staffs</a>
        <a asp-page="/pproduct/ProductDetail">Manage Stalls</a>
    }

    @if (Model.VerifyAuth("Admin"))
    {
        <a href="/Dashboard/Revenue">Dashboard</a>
        <a asp-page="/pproduct/ProductDetail">Products</a>
        <a asp-page="/pcustomer/CustomerDetail">Customers</a>
        <a asp-page="/pdiscount/DiscountDetail">Discounts</a>
        <a asp-page="/puser/UserDetail">Employees</a>
        <a asp-page="/pinvoice/InvoiceDetail">Order History</a>
    }

    @if (Model.VerifyAuth("Cashier"))
    {
        <a asp-page="/pproduct/ProductDetail">Products</a>
        <a asp-page="/pinvoice/InvoiceDetail">Order History</a>

    }

    @if (Model.VerifyAuth("Sale"))
    {
        <a asp-page="/pproduct/ProductDetail">Products</a>
        <a asp-page="/Sale/SaleHomePage">Order</a>
        <a asp-page="/Buy/Processing">Buy-Back</a>
        <a asp-page="/pinvoice/InvoiceDetail">Order History</a>
    }
</nav>

<div class="luxury-table-wrapper">
    <table class="luxury-table">
        <thead>
            <tr>
                <th>Gold Name</th>
                <th>Buy Price</th>
                <th>Sell Price</th>
                <th>Unit</th>
                <th>Update Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gold in Model.Golds)
            {
                <tr>
                    <td><strong>@gold.GoldName</strong></td>
                    <td>@String.Format("{0:N0}", gold.BuyPrice)</td>
                    <td>@String.Format("{0:N0}", gold.SellPrice)</td>
                    <td>@gold.Unit</td>
                    <td>@gold.Date</td>
                </tr>
            }
        </tbody>
    </table>
</div>
