@page
@model RazorTest.Pages.GoldModel
@{
}


<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body text-center" style="color: antiquewhite">
                                <div class="table-responsive">
                                    <table class="table table-dark" style="color: antiquewhite">
                                        <thead>
                                            <tr>
                                                <th>Gold</th>
                                                <th>Buy (VND)</th>
                                                <th>Sell (VND)</th>
                                                <th>Unit</th>
                                                <th>Update Time (60s)</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var gold in Model.Golds)
                                            {
                                                <tr>
                                                    <td><strong>@gold.GoldName</strong></td>
                                                    <td>@String.Format("{0:N0}", gold.BuyPrice) đ</td>
                                                    <td>@String.Format("{0:N0}", gold.SellPrice) đ</td>
                                                    <td>@gold.Unit</td>
                                                    <td>@gold.Date</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                    
                                </div>
                                <br />
                                <!-- partial: Shared/_Footer.cshtml -->
                                @await Html.PartialAsync("Shared/_Footer")
                                <!-- partial -->
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>

<script>
    // Refresh the page every 30 seconds
    setTimeout(function () {
        location.reload();
    }, 15000); // 1000 milliseconds => 1 second
</script>



