@page
@model RazorTest.Pages.Dashboard.RevenueModel
@{
    ViewData["Title"] = "Charts";
}

<style>
    .chart-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .chart-box {
        width: 1100px;
        height: 600px;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0.2, 0.1);
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    canvas {
        display: block;
        margin: 0 auto;
    }
</style>

<div class="chart-container">
    <div class="chart-box">
        <canvas id="myChart" width="1000" height="500"></canvas>
    </div>
    <div class="chart-box">
        <canvas id="myChart2" width="1000" height="500"></canvas>
    </div>
    <div class="chart-box">
        <canvas id="myChart3" width="1000" height="500"></canvas>
    </div>
    <div class="chart-box">
        <canvas id="myChart4" width="1000" height="500"></canvas>
    </div>
    <div class="chart-box">
        <canvas id="myChart5" width="1000" height="500"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const monthlySales = @Html.Raw(Model.MonthlySalesJson);
        const monthlyPurchases = @Html.Raw(Model.MonthlyPurchasesJson);
        const topStaffSales = @Html.Raw(Model.TopStaffSalesJson);
        const bestStaffMonthly = @Html.Raw(Model.BestStaffMonthlyJson);
        const yearlySalesCount = @Html.Raw(ViewData["YearlySalesCount"]);
        const yearlyPurchasesCount = @Html.Raw(ViewData["YearlyPurchasesCount"]);
        const totalSales = monthlySales.reduce((acc, item) => acc + item.total, 0);
        const totalPurchases = monthlyPurchases.reduce((acc, item) => acc + item.total, 0);

        const labels = monthlySales.map(item => item.month);

        const dataSales = monthlySales.map(item => item.total);
        const dataPurchases = monthlyPurchases.map(item => item.total);

        const staffLabels = topStaffSales.map(item => item.staffName);
        const staffDataSales = topStaffSales.map(item => item.totalSales);

        const bestStaffLabels = bestStaffMonthly.map(item => item.month);
        const bestStaffNames = bestStaffMonthly.map(item => item.staffName);
        const bestStaffSales = bestStaffMonthly.map(item => item.totalSales);


        // Bar Chart (myChart)
        const ctx = document.getElementById('myChart').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Total Sales',
                    data: dataSales,
                    borderWidth: 1,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)'
                },
                {
                    label: 'Total Purchases',
                    data: dataPurchases,
                    borderWidth: 1,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)'
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Total Sale and Buy per Month',
                        font: {
                            size: 24
                        }
                    }
                }
            }
        });

        // Doughnut Chart (myChart2)
        const ctx2 = document.getElementById('myChart2').getContext('2d');
        new Chart(ctx2, {
            type: 'doughnut',
            data: {
                labels: ['Total Sales', 'Total Purchases'],
                datasets: [{
                    data: [yearlySalesCount, yearlyPurchasesCount],
                    backgroundColor: ['rgba(54, 162, 235, 0.2)', 'rgba(255, 99, 132, 0.2)'],
                    borderColor: ['rgba(54, 162, 235, 5)', 'rgba(255, 99, 132, 5)'],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        mode: 'index',
                        intersect: false,
                    },
                    title: {
                        display: true,
                        text: 'Total Invoice',
                        font: {
                            size: 25
                        }
                    }
                }
            }
        });

        // Pie Chart (myChart3)
        const ctx3 = document.getElementById('myChart3').getContext('2d');
        new Chart(ctx3, {
            type: 'pie',
            data: {
                labels: ['Total Sales', 'Total Purchases'],
                datasets: [{
                    data: [totalSales, totalPurchases],
                    backgroundColor: ['rgba(54, 162, 235, 0.2)', 'rgba(255, 99, 132, 0.2)'],
                    borderColor: ['rgba(54, 162, 235, 5)', 'rgba(255, 99, 132, 5)'],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        mode: 'index',
                        intersect: false,
                    },
                    title: {
                        display: true,
                        text: 'Total Sales and Purchases per Year',
                        font: {
                            size: 25
                        }
                    }
                }
            }
        });

        // Horizontal Bar Chart (myChart4)
        const ctx4 = document.getElementById('myChart4').getContext('2d');
        new Chart(ctx4, {
            type: 'bar',
            data: {
                labels: staffLabels,
                datasets: [{
                    label: 'Total Sales by Staff',
                    data: staffDataSales,
                    borderWidth: 1,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)'
                }]
            },
            options: {
                indexAxis: 'y',
                scales: {
                    x: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Top 10 Staff by Sales',
                        font: {
                            size: 24
                        }
                    }
                }
            }
        });

        // Best Staff of the Month Chart (myChart5)
        const ctx5 = document.getElementById('myChart5').getContext('2d');
        new Chart(ctx5, {
            type: 'pie',
            data: {
                labels: bestStaffLabels,
                datasets: [{
                    label: 'Best Staff of the Month',
                    data: bestStaffSales,
                    borderWidth: 1,
                    backgroundColor: 'rgba(153, 102, 255, 0.2)',
                    borderColor: 'rgba(153, 102, 255, 1)'
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Best Staff of the Month with Total Sales',
                        font: {
                            size: 24
                        }
                    },
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                return `${context.dataset.label}: ${context.formattedValue} (${bestStaffNames[context.dataIndex]})`;
                            }
                        }
                    }
                }
            }
        });
    });
</script>