@page
@model RazorTest.Pages.pproduct.DeleteModel
@{
    ViewData["Title"] = "Delete Product";
}
<h2>Delete Product</h2>

<h3>Are you sure you want to delete this product?</h3>
<div>
    <h4>Product</h4>
    <dl class="row">
        <dt class="col-sm-2">Product Code</dt>
        <dd class="col-sm-10">@Model.Product.ProductCode</dd>

        <dt class="col-sm-2">Product Name</dt>
        <dd class="col-sm-10">@Model.Product.ProductName</dd>

        <dt class="col-sm-2">Product Images</dt>
        <dd class="col-sm-10">
            
            @if (Model.Product.ProductImages.Length > 50)
            {
                <img src="data:image/jpeg;base64,@Model.Product.ProductImages" class="product-image" style="max-width: 100px; max-height: 100px;" />
            }
            else
            {
                <img src="/ProductImages/@Model.Product.ProductImages" class="product-image" style="max-width: 100px; max-height: 100px;" />
            }
        </dd>

        <dt class="col-sm-2">Product Quantity</dt>
        <dd class="col-sm-10">@Model.Product.ProductQuantity</dd>

        <dt class="col-sm-2">Product Type</dt>
        <dd class="col-sm-10">@Model.Product.ProductType</dd>

        <dt class="col-sm-2">Product Weight</dt>
        <dd class="col-sm-10">@Model.Product.ProductWeight</dd>

        <dt class="col-sm-2">Product Warranty</dt>
        <dd class="col-sm-10">@Model.Product.ProductWarranty</dd>

        <dt class="col-sm-2">Markup Rate</dt>
        <dd class="col-sm-10">@Model.Product.MarkupRate</dd>

        <dt class="col-sm-2">Gem ID</dt>
        <dd class="col-sm-10">@Model.Product.GemId</dd>

        <dt class="col-sm-2">Gem Weight</dt>
        <dd class="col-sm-10">@Model.Product.GemWeight</dd>

        <dt class="col-sm-2">Gold ID</dt>
        <dd class="col-sm-10">@Model.Product.GoldId</dd>

        <dt class="col-sm-2">Gold Weight</dt>
        <dd class="col-sm-10">@Model.Product.GoldWeight</dd>

        <dt class="col-sm-2">Labor Cost</dt>
        <dd class="col-sm-10">@Model.Product.LaborCost</dd>

        <dt class="col-sm-2">Created At</dt>
        <dd class="col-sm-10">@Model.Product.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Product.ProductId" />
        <button type="submit" class="btn btn-danger">Delete</button> |
        <a asp-page="./ProductDetail" class="btn btn-secondary">Cancel</a>
    </form>
</div>

