@page
@model RazorTest.Pages.pinvoice.IndexModel
@{
}


<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- List -->
                            <div class="table-responsive">
                                <table class="table table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-left">Make Request</th>
                                            <th>Date</th>
                                            <th>Total (VND)</th>
                                            <th>Status</th>
                                            <th>Detail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var invoice in Model.Invoices)
                                        {
                                            <tr>
                                                <td class="text-left"><strong>@invoice.UserFullname</strong></td>
                                                <td >@invoice.InvoiceDate.ToString("M/d HH:mm:ss")</td>
                                                <td>@String.Format("{0:N0}", invoice.EndTotalPrice)</td>
                                                <td>
                                                    @if (invoice.InvoiceStatus.Equals("Complete"))
                                                    {
                                                        <i class="mdi mdi-check-circle"></i>
                                                    }
                                                    else if (invoice.InvoiceStatus.Equals("Manager Disapproved") || invoice.InvoiceStatus.Equals("Admin Disapproved") || invoice.InvoiceStatus.Equals("Canceled") || invoice.InvoiceStatus.Equals("Admin Canceled"))
                                                    {
                                                        <i class="mdi mdi-close-circle"></i>
                                                    }
                                                    else if (invoice.InvoiceStatus.Equals("Processing Payment"))
                                                    {
                                                        <i class="mdi mdi-currency-usd"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="mdi mdi-dots-horizontal"></i>
                                                    }
                                                </td>
                                                <td>
                                                    <form method="post" asp-page-handler="ViewDetail">
                                                        <input type="hidden" name="invoiceId" value="@invoice.InvoiceId" />
                                                        <button class="btn-inverse-warning btn-fw" type="submit">
                                                            <span class="menu-icon">
                                                                <i class="mdi mdi-information"></i>
                                                            </span>
                                                            <span>
                                                                View
                                                            </span>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- Page Index -->
                            <div class="card-body text-center">
                                @if (Model.Invoices.HasPreviousPage)
                                {
                                    <a class="btn btn-secondary" asp-page="./Index" asp-route-currentPage="@(Model.Invoices.PageIndex - 1)">&laquo; Previous</a>
                                }
                                @for (int i = 1; i <= Model.Invoices.TotalPages; i++)
                                {
                                    <a class="btn btn-secondary" asp-page="./Index" asp-route-currentPage="@i" class="@(i == Model.Invoices.PageIndex ? "active" : "")">@i</a>
                                }
                                @if (Model.Invoices.HasNextPage)
                                {
                                    <a class="btn btn-secondary" asp-page="./Index" asp-route-currentPage="@(Model.Invoices.PageIndex + 1)">Next &raquo;</a>
                                }
                            </div>
                            <!-- Action -->
                            <div class="card-body text-center">
                                <a class="btn btn-secondary btn-fw" asp-page="/Index">Back</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>

