@page
@model RazorTest.Pages.pinvoice.PrintModel
@{
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="invoice-title">
                        <h4 class="float-end font-size-15">Invoice <span class="badge bg-success font-size-12 ms-2">Paid</span></h4>
                        <div class="mb-4">
                            <h2 class="mb-1 text-muted">HVJ Store</h2>
                        </div>
                        <div class="text-muted">
                            <p class="mb-1">F82.01 Landmark 81, Binh Thanh, Ho Chi Minh.</p>
                            <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> hvjstore.azurewebsites.net</p>
                            <p><i class="uil uil-phone me-1"></i> 0704-585-671</p>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-muted">
                                <h5 class="font-size-16 mb-3">Billed To: </h5>
                                <h5 class="font-size-15 mb-2">@Model.ViewDetailInvoiceObject.CustomerName</h5>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-6">
                            <div class="text-muted text-sm-end">
                                <div>
                                    <h5 class="font-size-15 mb-1">Invoice No:</h5>
                                    <p>@Model.ViewDetailInvoiceObject.InvoiceId</p>
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                    <p>@Model.ViewDetailInvoiceObject.InvoiceDate</p>
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Retail Assistant:</h5>
                                    <p>@Model.ViewDetailInvoiceObject.UserFullname</p>
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Payment Confirmation:</h5>
                                    <p>@Model.ViewDetailInvoiceObject.CashierFullname</p>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="py-2">
                        <h5 class="font-size-15">Order Summary</h5>

                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap table-centered mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 70px;">No.</th>
                                        <th>Item</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th class="text-end" style="width: 120px;">Total</th>
                                    </tr>
                                </thead><!-- end thead -->
                                <tbody>
                                    @{
                                        int count = 1;
                                    }
                                    @foreach(var item in Model.ViewDetailInvoiceItemList)
                                    {
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>
                                                <div>
                                                    <h5 class="text-truncate font-size-14 mb-1">@item.ProductName</h5>
                                                    <p class="text-muted mb-0">@(item.DiscountRate * 100 * -1)%</p>
                                                </div>
                                            </td>
                                            <td>@item.UnitPrice.ToString("#,##0")đ</td>
                                            <td>@item.Quantity</td>
                                            <td class="text-end">@(item.TotalPrice.ToString("#,##0"))đ</td>
                                        </tr>
                                    }
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="4" class="text-end">Sub Total</th>
                                        <td class="text-end">@((Model.ViewDetailInvoiceObject.TotalPrice).ToString("#,##0")) đ</td>
                                    </tr>
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">
                                            Discount :
                                        </th>
                                        <td class="border-0 text-end">@((Model.ViewDetailInvoiceObject.TotalPrice - Model.ViewDetailInvoiceObject.EndTotalPrice).ToString("#,##0")) đ</td>
                                    </tr>
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">
                                            Tax
                                        </th>
                                        <td class="border-0 text-end">@((Model.ViewDetailInvoiceObject.EndTotalPrice * 0.1).ToString("#,##0")) đ</td>
                                    </tr>
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">Total</th>
                                        <td class="border-0 text-end"><h4 class="m-0 fw-semibold">@(Model.ViewDetailInvoiceObject.EndTotalPrice.ToString("#,##0")) đ</h4></td>
                                    </tr>
                                    <!-- end tr -->
                                </tbody><!-- end tbody -->
                            </table><!-- end table -->
                        </div><!-- end table responsive -->
                        <div class="d-print-none mt-4">
                            <div class="float-end">
                                <a href="javascript:window.print()" class="btn btn-success me-1"><i class="fa fa-print"></i></a>
                                <a asp-page="/Index" class="btn btn-primary w-md">Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div>
</div>
