@page
@model RazorTest.Pages.pinvoice.ViewDetailModel
@{
}

<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->

                            <h4 class="card-title">Order Detail</h4>
                            <p class="card-description"> Make Request: @Model.ViewDetailInvoiceObject.UserFullname</p>
                            <div class="forms-sample">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Type</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="@Model.ViewDetailInvoiceObject.InvoiceType" readonly>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Customer</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="@Model.ViewDetailInvoiceObject.CustomerName" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Retail Assistant</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="@Model.ViewDetailInvoiceObject.UserFullname" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Manager Confirmation</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="@Model.ViewDetailInvoiceObject.ManagerFullname" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Payment Confirmation</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="@Model.ViewDetailInvoiceObject.CashierFullname" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Stall</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="@Model.ViewDetailInvoiceObject.StallName" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Date</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="@Model.ViewDetailInvoiceObject.InvoiceDate.ToString("HH:mm:ss MM/dd/yyyy")" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Voucher</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="@(Model.ViewDetailInvoiceObject.CustomerVoucher.ToString("#,##0")) VND" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Subtotal</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="@(Model.ViewDetailInvoiceObject.TotalPrice.ToString("#,##0")) VND" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Discount</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="@((Model.ViewDetailInvoiceObject.EndTotalPrice - Model.ViewDetailInvoiceObject.TotalPrice).ToString("#,##0")) VND" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Total</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="@(Model.ViewDetailInvoiceObject.EndTotalPrice.ToString("#,##0")) VND" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Status</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="@Model.ViewDetailInvoiceObject.InvoiceStatus" readonly>
                                    </div>

                                </div>
                            </div>

                            
                            <!-- EDIT HERE END -->
                            <div class="card-body text-center">
                                @if(Model.ViewDetailInvoiceObject.InvoiceStatus.Equals("Complete"))
                                {
                                    <div class="card-body">
                                        <button class="btn btn-primary btn-lg btn-block justify-content-center d-flex align-items-center">
                                            <i class="mdi mdi-check-circle"></i>
                                            <span>Order Completed</span>
                                        </button>
                                    </div>
                                }
                                else if(Model.User.Role.Equals("Manager") && Model.ViewDetailInvoiceObject.InvoiceStatus.Equals("Pending"))
                                {
                                    <div class="card-body">
                                        <form method="post" asp-page-handler="Approve">
                                            <input type="hidden" name="invoiceId" value="@Model.ViewDetailInvoiceObject.InvoiceId"/>
                                            <button class="btn btn-primary btn-lg btn-block justify-content-center d-flex align-items-center">
                                                <i class="mdi mdi-checkbox-marked-outline"></i> Approve
                                            </button>
                                        </form>
                                        <form method="post" asp-page-handler="Disapprove">
                                            <input type="hidden" name="invoiceId" value="@Model.ViewDetailInvoiceObject.InvoiceId" />
                                            <button class="btn btn-dark btn-lg btn-block justify-content-center d-flex align-items-center">
                                                <i class="mdi mdi-close-box-outline"></i> Disapprove
                                            </button>
                                        </form>
                                    </div>
                                }
                                else if (Model.User.Role.Equals("Cashier") && Model.ViewDetailInvoiceObject.InvoiceStatus.Equals("Processing Payment"))
                                {
                                    <div class="card-body">
                                        <form method="post" asp-page-handler="ConfirmPayment">
                                            <input type="hidden" name="invoiceId" value="@Model.ViewDetailInvoiceObject.InvoiceId" />
                                            <button class="btn btn-primary btn-lg btn-block justify-content-center d-flex align-items-center">
                                                <i class="mdi mdi-checkbox-marked-outline"></i> Confirm Payment
                                            </button>
                                        </form>
                                        <form method="post" asp-page-handler="CancelOrder">
                                            <input type="hidden" name="invoiceId" value="@Model.ViewDetailInvoiceObject.InvoiceId" />
                                            <button class="btn btn-dark btn-lg btn-block justify-content-center d-flex align-items-center">
                                                <i class="mdi mdi-close-box-outline"></i> Cancel Order
                                            </button>
                                        </form>
                                    </div>
                                }
                                else if (Model.ViewDetailInvoiceObject.InvoiceStatus.Equals("Manager Disapproved") || Model.ViewDetailInvoiceObject.InvoiceStatus.Equals("Admin Disapproved") || Model.ViewDetailInvoiceObject.InvoiceStatus.Equals("Canceled") || Model.ViewDetailInvoiceObject.InvoiceStatus.Equals("Admin Canceled"))
                                {
                                    <div class="card-body">
                                        <button class="btn btn-primary btn-lg btn-block justify-content-center d-flex align-items-center">
                                            <i class="mdi mdi-close-circle"></i>
                                            <span>Order Canceled or Disapproved</span>
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    <div class="card-body">
                                        <button class="btn btn-primary btn-lg btn-block justify-content-center d-flex align-items-center">
                                            <i class="mdi mdi-dots-horizontal"></i>
                                            <span>@Model.ViewDetailInvoiceObject.InvoiceStatus</span>
                                        </button>
                                    </div>
                                }
                                <div>
                                    <a asp-page="./InvoiceDetail" class="btn btn-primary btn-rounded btn-fw justify-content-center d-inline-flex align-items-center">
                                        <i class="mdi mdi-backburger"></i> Back
                                    </a>
                                </div>
                            </div>

                            

                        </div>
                    </div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>