@page
@model RazorTest.Pages.pgold.IndexModel
@{
    ViewData["Title"] = "Gold List";
}


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Gold Id</th>
            <th>Gold Name</th>
            <th>Gold Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody border="1">
        @foreach (var gold in Model.Golds)
        {
            <tr>
                <td>@gold.GoldId</td>
                <td><strong>@gold.GoldName</strong></td>
                <td>@gold.SellPrice</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@gold.GoldId">Edit</a> |
                    <a asp-page="Delete" asp-route-id="@gold.GoldId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="./Create">Create New Gold</a>