@page
@model RazorTest.Pages.GoldPriceListModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Gold Price List";
}

<h2 style="text-align: center;">Gold Price</h2>

<div class="header-image-container">
    <img src="~/ProductImages/3.jpg" alt="Gold Image" class="header-image" />
</div>

<div class="luxury-table-wrapper">
    <table class="luxury-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Key</th>
                <th>Sell</th>
                <th>Buy</th>
                <th>Date Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var goldPrice in Model.GoldPrices)
            {
                <tr>
                    <td>@goldPrice.Name</td>
                    <td>@goldPrice.Key</td>
                    <td>@String.Format("{0:N0} VND", goldPrice.Sell)</td>
                    <td>@String.Format("{0:N0} VND", goldPrice.Buy)</td>
                    <td>@goldPrice.DateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
