@page
@model RazorTest.Pages.Buy.ConfirmModel
@{
}
<h2>ITEM</h2>

@if (Model.BuyConfirmInvoiceItemObject != null)
{
    <table>
        <tr>
            <th>ID</th>
            <td>@Model.BuyConfirmInvoiceItemObject.InvoiceItemId</td>
        </tr>
        <tr>
            <th>Product Name</th>
            <td>@Model.BuyConfirmInvoiceItemObject.ProductName</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>@Model.BuyConfirmInvoiceItemObject.Quantity</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>@Model.BuyConfirmInvoiceItemObject.UnitPrice</td>
        </tr>
    </table>
}

<h2>Buying State</h2>
@if (Model.BuyConfirmInvoiceObject != null)
{
    <table>
        <tr>
            <th>Invoice ID</th>
            <td>@Model.BuyConfirmInvoiceObject.InvoiceId</td>
        </tr>
        <tr>
            <th>Employee</th>
            <td>@Model.BuyConfirmInvoiceObject.UserFullname</td>
        </tr>
        <tr>
            <th>Customer</th>
            <td>@Model.BuyConfirmInvoiceObject.CustomerName</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>@Model.BuyConfirmInvoiceObject.EndTotalPrice</td>
        </tr>
    </table>


}

<form method="post" asp-page-handler="ConfirmBuying">
    <button type="submit">Create Buying Order</button>
</form>

<form method="get" action="/Buy/BuyBack" style="text-align: center;">
    <input type="hidden" name="Back" value="/Buy/BuyBack" />
    <button type="submit" class="btn-pink" style="background-color: #b8860b; color: white;">Back</button>
</form>